# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Node.js
node_modules/
npm-debug.log
yarn-error.log
# package-lock.json

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# VS Code
.vscode/
*.code-workspace

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

.vscode-test/

vscode-extension/out/
